<label for="feuser">
	<f:translate key="tx_flatmgrpay_domain_model_booking.feuser" />
</label><br />
	<f:form.textfield property="feuser" /><br />
<label for="flat">
	<f:translate key="tx_flatmgrpay_domain_model_booking.flat" />
</label><br />
	<f:form.textfield property="flat" /><br />
<label for="startday">
	<f:translate key="tx_flatmgrpay_domain_model_booking.startday" />
</label><br />
	<f:form.textfield property="startday" /><br />
<label for="days">
	<f:translate key="tx_flatmgrpay_domain_model_booking.days" />
</label><br />
	<f:form.textfield property="days" /><br />
<label for="persons">
	<f:translate key="tx_flatmgrpay_domain_model_booking.persons" />
</label><br />
	<f:form.textfield property="persons" /><br />