<label for="name">
	<f:translate key="tx_flatmgrpay_domain_model_booking.name" />
</label><br />
	<f:form.textfield property="name" /><br />
<label for="flat">
	<f:translate key="tx_flatmgrpay_domain_model_booking.flat" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="flat" /><br />
<label for="startday">
	<f:translate key="tx_flatmgrpay_domain_model_booking.startday" />
</label><br />
	<f:form.textfield property="startday" /><br />
<label for="days">
	<f:translate key="tx_flatmgrpay_domain_model_booking.days" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="days" /><br />
<label for="persons">
	<f:translate key="tx_flatmgrpay_domain_model_booking.persons" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="persons" /><br />