<table class="tx-flatmgrpay" >
	<tr>
		<td>
			<f:translate key="tx_flatmgrpay_domain_model_booking.name" />
		</td>
		<td>
			{booking.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_flatmgrpay_domain_model_booking.flat" />
		</td>
		<td>
			{booking.flat}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_flatmgrpay_domain_model_booking.startday" />
		</td>
		<td>
			{booking.startday}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_flatmgrpay_domain_model_booking.days" />
		</td>
		<td>
			{booking.days}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_flatmgrpay_domain_model_booking.persons" />
		</td>
		<td>
			{booking.persons}
		</td>
	</tr>
</table>