<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Listing for Booking</h1>

<f:flashMessages />

<table  class="tx_flatmgrpay" >
	<tr>
		<th><f:translate key="tx_flatmgrpay_domain_model_booking.feuser" /></th>
		<th><f:translate key="tx_flatmgrpay_domain_model_booking.flat" /></th>
		<th><f:translate key="tx_flatmgrpay_domain_model_booking.startday" /></th>
		<th><f:translate key="tx_flatmgrpay_domain_model_booking.days" /></th>
		<th><f:translate key="tx_flatmgrpay_domain_model_booking.persons" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{bookings}" as="booking">
		<tr>
			<td><f:link.action action="show" arguments="{booking : booking}"> {booking.feuser}</f:link.action></td>
			<td><f:link.action action="show" arguments="{booking : booking}"> {booking.flat}</f:link.action></td>
			<td><f:link.action action="show" arguments="{booking : booking}"> {booking.startday}</f:link.action></td>
			<td><f:link.action action="show" arguments="{booking : booking}"> {booking.days}</f:link.action></td>
			<td><f:link.action action="show" arguments="{booking : booking}"> {booking.persons}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{booking : booking}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{booking : booking}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New Booking</f:link.action>
</f:section>